* {
    margin: 0;
    padding: 0;
}

html,
body,
#app,
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

a {
    text-decoration: none
}

a, a:active, a:link, a:visited {
    color: #52bab5;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.sys-content.left {
    left: 160px;
}

.sys-content {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    padding-top: 53px;
}


.sys-header {
    width: 100%;
    height: 60px;
    background-color: #52bab5;
    z-index: 500;
}

.sys-header .logo {
    float: left;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    color: #fff;
    font-size: 20px;
}

.sys-header .userInfo {
    float: right;
    height: 60px;
}

.sys-header .userInfo>ul {
    height: 60px;
}

.sys-header .userInfo>ul>li {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    margin-right: 20px;
    color: #fff;
}

.sys-header .userInfo>ul>li .user {
    color: #fff;
    cursor: pointer;
}

.sys-notes {
    padding: 15px 10px 15px 14px;
    border-left: 4px solid #52bab5;
    background: #eee;
    line-height: 22px;
}

.sys-notes, .sys-search {
    display: block;
    margin-bottom: 10px;
}





.sys-section {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.sys-section>.title {
    height: 50px;
    margin-bottom: 10px;
    border-bottom: 1px solid #5cc1c0;
}

.sys-section>.title>strong {
    font-weight: 700;
    font-size: 22px;
    line-height: 50px;
}

.sys-section>.title:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}




.sys-article {
    font-size: 14px;
    line-height: 23.8px;
    margin-bottom: 20px;
}

.sys-article>div, .sys-article p {
    margin-bottom: 5px;
}

.sys-article ol {
    padding-left: 20px;
    list-style-type: decimal;
    list-style-position: inside;
}

.sys-page{
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}







.sys-title {
    height: 60px;
    margin-bottom: 10px;
    border-bottom: 1px solid #5cc1c0;
}

.sys-title>strong {
    line-height: 60px;
    font-size: 26px;
    font-weight: 700;
}


.tag-nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 53px;
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 2px #f2f2f2;
    box-sizing: border-box;
}

.tag-nav .tag-nav-item {
    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin-right: 10px;
    border: 1px solid rgba(82,186,181,.2);
    border-radius: 4px;
    background-color: rgba(82,186,181,.1);
    text-decoration: none;
}

.tag-nav .tag-nav-item.cur, .tag-nav .tag-nav-item span:hover {
    background-color: #52bab5;
    color: #fff;
}



.side-nav.left, .side-nav.left .el-menu {
    background-color: #f4f4f4;
}

.side-nav.left {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 160px;
    border-right: 1px solid #ccc;
    overflow: auto;
    box-sizing: border-box;
}

.side-nav .el-menu {
    border-right: none;
    z-index: 10;
}

.el-menu {
    border-right: 1px solid #e6e6e6;
    list-style: none;
    position: relative;
    margin: 0;
    padding-left: 0;
    background-color: #fff;
}

.el-menu:after, .el-menu:before {
    display: table;
    content: "";
}

.side-nav.left .el-menu-item, .side-nav.left .el-menu .el-submenu__title {
    color: #333;
}

.el-menu-item {
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    color: #303133;
    padding: 0 20px;
    list-style: none;
    cursor: pointer;
    position: relative;
    transition: border-color .3s,background-color .3s,color .3s;
    box-sizing: border-box;
    white-space: nowrap;
}
